:root {
  --gradient: linear-gradient(90deg, #c01c25, #8a0909);
}

* {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: #f39c12;
  color: #fff;
}

html, body {
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
  background: #eee6e6 !important;
  overflow: visible;
  /* padding-top: 36px; */
}

html::-webkit-scrollbar {
  width: 1.5rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #c01c25, #8a0909);
}

/* Header section */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.7rem 2%;
  background: var(--gradient);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

header .logo {
  color: white;
  width: 170px;
}

header .navbar {
  display: block;
}

header .navbar ul {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  display: block;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: rgb(65, 62, 62);
}

header #login {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

header #login:hover {
  color: rgb(65, 62, 62);
}

header #menu {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* Header section end */

/* Login form */

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.login-form {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form.popup {
  top: 0;
}

.login-form form {
  width: 35rem;
  background: #fff;
  margin: 0 2rem;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem #333;
  position: relative;
}

.login-form form h3 {
  font-size: 2rem;
  color: #f39c12;
  padding: 1rem 0;
}

.login-form form .box {
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 0.2rem solid #666;
  font-size: 1.6rem;
  color: #333;
  text-transform: none;
}

.login-form form .box::placeholder {
  text-transform: capitalize;
}

.login-form form .box:focus {
  border-color: #f39c12;
}

.login-form form .btn {
  width: 100%;
  margin: 2rem 0;
}

.login-form form .btn:hover {
  background: #444;
}

.login-form form .fa-times {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #999;
}

.login-form form .fa-times:hover {
  color: #444;
}
/* Login Form End */

/* Section Banner */

.banner {
  position: relative;
  background:linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.658)), url(vasBanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.banner-logo {
  width: 350px;
}


.banner-text {
  color: white;
}

.banner-text h1 {
  font-size: 35px;
}

.banner-text p {
  font-size: 20px;
}


/* Section Banner End */

/* Section Form */

form {
  background-color: rgba(0, 0, 0, 0.308);
  color: #fff;
  font-size: 1.3rem;
  border-radius: 5px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
}

form label {
  display: flex;
  margin-top: 10px;
  font-size: 1.4rem;
}

input,
select,
textarea {
    width: 250px !important;
    /* display: flex; */
}


/* Section Form End */


/* About Section */

.content {
  margin: 100px 0 ;
}

.img-fluid {
  border-radius: 5px;
}

.about h1 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #353535;
}

.about p {
  font-size: 15px;
  margin-bottom: 30px;
  color: #716D67;
}

.about .btn {
  width: 12rem;
  height: 4rem;
  font-size: 12px;
  border-radius: 20px !important;
}



@media (max-width: 768px) {
  html {
    /* font-size: 35%;
  } */
  margin-top: 59px;
}


.logo {
  width: 130px !important;
}

#login {
  font-size: 15px !important;
}

.banner-logo {
  width: 300px !important;
}

.banner-text {
  margin-top: 50px;
}

.banner-text h1 {
  font-size: 25px;
}

.banner-text p {
  font-size: 15px;
}



  header .navbar {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background-color: #444;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2.5rem 0;
  }

  header .navbar ul li {
    margin: 1.5rem 0;
    text-align: center;
    width: 100%;
  }

  header .navbar ul li a {
    font-size: 2.5rem;
    display: block;
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    color: #f39c12;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    top: 11.8rem;
  }

  header .logo {
    margin-left: 18px;
  }
}

@media (max-width: 500px) {
  header .navbar.nav-toggle {
    top: 11.8rem;
  }
}


/* Section Contact */

.contact {
  padding: 50px 0 80px;
  text-align: center;
  margin-top: 50px;
  background-color: #bbb6b6;
}

.contact p {
  padding-bottom: 80px;
  color: #737373;
}

.contact h1 {
  color: #000000;
  margin: 20px 0 50px;
  font-weight: bold;
}

.contact .input-group {
  margin-bottom: 25px;
}

.contact .form-control {
  border-radius: 0 !important;
}

.contact span {
  border-radius: 0 !important;
}

.contact .btn {
  border-radius: 0 !important;
  width: 100%;
  font-size: 15px;
  background-color: rgb(220, 53, 69);
  border-color: rgb(220, 53, 69);
  color: #fff;
}

.contact .btn:hover {
  background-color:  rgb(187, 45, 59)   ;
  border-color: rgb(176, 42, 55);
  color: #fff !important;
}


.btn {
  border-radius: 15px !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem !important;
  height: 4rem !important;
  background: #000000;
}
